div {
     position: absolute;
     font-family: "Arial";
}

body {
    left:0%;
    width:100%;
    top:0%;
    height:100%;
}

#loginScreen {
    left:0%;
    width:100%;
    top:0%;
    height:100%;
    background-image: url('chess.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#loginScreenBox {
    background-color: rgb(255, 255, 255, 0.85);
    height:3.5in;
    width:3.5in;
    padding:0.5in;
    font-weight:bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.edit {
    box-sizing: border-box;
    border: none;
    padding:0.05in;
    border-style: solid;
    border-width: 1px;
    font-family: "Arial";
    color:black;
}

.button {
    border: none;
    padding:0.05in;
    border-style: solid;
    border-width: 1px;
    font-family: "Arial";
    color:black;
    background-color: rgb(200, 200, 200);
}

#loggedScreen {
    left: 0%;
    top:  0%;
    width: 100%;
    height: 100%;
    background-image: url('chess.jpeg');
    position:absolute;
}

#loggedScreenTop {
    left:0%;
    top:0%;
    width:100%;
    height:0.7in;
    padding-left:0.05in;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#loggedScreenMenu {
    left:0%;
    top:0.7in;
    width:10%;
    height:100%;
    background-color: rgb(255, 255, 255, 0.75);
}

#loggedScreenContent {
    left:10%;
    top:0.7in;
    width:90%;
    height:100%;
    background-color: rgb(255, 255, 255);
}

td, th {
    padding: 0.05in;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

/*#loggedScreenEntry1 {
    left:0%;
    width:100%;
    top:0;
    height:0.4in;
}

#loggedScreenEntry2 {
    left:0%;
    width:100%;
    top:0.4in;
    height:0.4in;
}*/

/* FIXME class */

#loggedScreenPlay {
    left:0%;
    top:0%;
    width:100%;
    height:100%;
}

#loggedScreenNewGame {
    left:0%;
    top:0%;
    width:100%;
    height:100%;
}

#loggedScreenListGames {
    left:0%;
    top:0%;
    width:100%;
    height:100%;
}

